<body>
  <script type="text/javascript" href="assets/codigo.ts"></script>
  <script src="output/app.js"></script>
  <div class="login-box">
      <img class="avatar" src="assets/img/logVisualStudio.jpg" alt="logoLogIn">
      <h1>Registrarse</h1>
      <form>
          <!-- USERNAME INPUT -->
          <label for="username">Nombre de usuario (opcional)</label>
          <input type="text" id="datosVisitante" placeholder="Pon tu nombre de usuario" >
          <br>
          <br>

          <!-- IR CON UN BOTON A OTRA PÁGINA -->
          <a href="modulos/pag-seg/pag-seg.component.html">Iniciar sesion</a>
        </form>
  </div>
</body>